<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Affichage console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>

    <logger name="mbdream.log.error" level="ERROR" additivity="false"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>